<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="serviceRequestId">serviceRequestId</label>

              
                <input formControlName="serviceRequestId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="doctor">doctor</label>

              
                  <textarea formControlName="doctor" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="patient">patient</label>

              
                  <textarea formControlName="patient" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="insurer">insurer</label>

              
                  <textarea formControlName="insurer" class="form-control" rows="3"></textarea>

              

            </div>
          
            <div class="form-group text-left">
              <label for="copayAssistance">copayAssistance</label>

              
                <input formControlName="copayAssistance" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="insurerApproveReject">insurerApproveReject</label>

              
                <input formControlName="insurerApproveReject" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="prescriberPrescriptionAuthorization">prescriberPrescriptionAuthorization</label>

              
                <input formControlName="prescriberPrescriptionAuthorization" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="patientAuthorization">patientAuthorization</label>

              
                <input formControlName="patientAuthorization" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="PASIndex">PASIndex</label>

              
                <input formControlName="PASIndex" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="additionalComments">additionalComments</label>

              
                <input formControlName="additionalComments" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="workflowStatus">workflowStatus</label>

              
                  <textarea formControlName="workflowStatus" class="form-control" rows="3"></textarea>

              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="serviceRequestId">serviceRequestId</label>

              
                <input [ngModel]="serviceRequestId"formControlName="serviceRequestId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="doctor">doctor</label>

              
                  <textarea [ngModel]="doctor" formControlName="doctor" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="patient">patient</label>

              
                  <textarea [ngModel]="patient" formControlName="patient" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="insurer">insurer</label>

              
                  <textarea [ngModel]="insurer" formControlName="insurer" class="form-control" rows="3"></textarea>
              

            </div>
          
            <div class="form-group text-left">
              <label for="copayAssistance">copayAssistance</label>

              
                <input [ngModel]="copayAssistance" formControlName="copayAssistance" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="insurerApproveReject">insurerApproveReject</label>

              
                <input [ngModel]="insurerApproveReject" formControlName="insurerApproveReject" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="prescriberPrescriptionAuthorization">prescriberPrescriptionAuthorization</label>

              
                <input [ngModel]="prescriberPrescriptionAuthorization" formControlName="prescriberPrescriptionAuthorization" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="patientAuthorization">patientAuthorization</label>

              
                <input [ngModel]="patientAuthorization" formControlName="patientAuthorization" type="checkbox" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="PASIndex">PASIndex</label>

              
                <input [ngModel]="PASIndex" formControlName="PASIndex" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="additionalComments">additionalComments</label>

              
                <input [ngModel]="additionalComments"formControlName="additionalComments" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="workflowStatus">workflowStatus</label>

              
                  <textarea [ngModel]="workflowStatus" formControlName="workflowStatus" class="form-control" rows="3"></textarea>
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
  <h1 id='assetName'>ServiceRequest</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">serviceRequestId</th>
            
                <th class="info">doctor</th>
            
                <th class="info">patient</th>
            
                <th class="info">insurer</th>
            
                <th class="info">copayAssistance</th>
            
                <th class="info">insurerApproveReject</th>
            
                <th class="info">prescriberPrescriptionAuthorization</th>
            
                <th class="info">patientAuthorization</th>
            
                <th class="info">PASIndex</th>
            
                <th class="info">additionalComments</th>
            
                <th class="info">workflowStatus</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.serviceRequestId}}</td>
            
                <td>{{asset.doctor}}</td>
            
                <td>{{asset.patient}}</td>
            
                <td>{{asset.insurer}}</td>
            
                <td>{{asset.copayAssistance}}</td>
            
                <td>{{asset.insurerApproveReject}}</td>
            
                <td>{{asset.prescriberPrescriptionAuthorization}}</td>
            
                <td>{{asset.patientAuthorization}}</td>
            
                <td>{{asset.PASIndex}}</td>
            
                <td>{{asset.additionalComments}}</td>
            
                <td>{{asset.workflowStatus}}</td>
            
            <td>
              <button (click)="getForm(asset.serviceRequestId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.serviceRequestId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
